img {
  display: inline;
  width: 5rem;
}

.flex-podium {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#Podiumelementen {
  margin-left: 3rem;
}

#canvas {
  border: black 2px solid;
  margin-right: 3rem;
  height: 80vh;
  height: 80svh;
  overflow-y: scroll;
}


