<div class="container container--normall">
    <section class="block intro">
        <h1 class="title--second">
            Inkomend
        </h1>

        <p>
            U kunt hier de inkomende aanvragen en plannen bekijken.
        </p>

        <div class="row intro__btns">
            <a class="btn btn--secondary" href="/inkomend-aanvragen">
                Aanvragen
            </a>
            
            <a class="btn btn--secondary-neg" href="/inkomend-plannen">
                Plannen
            </a>
        </div>
    </section>

    <section class="block block--bottom listing">
        <div class="grid-row grid-row--four listing__titles">
            <strong>
                Datum aanvraag:
            </strong>
            
            <strong class="to-left">
                Afzender:
            </strong>
            
            <strong class="to-left-double">
                Onderwerp:
            </strong>

            <strong class="to-left-double">
                Acties:
            </strong>
        </div>

        <div>
            {{#if request}}
                {{#each request}}
                    <div class="grid-row grid-row--four listing__item request-card">
                        <span>
                            {{this.creation_date}}
                        </span>

                        <span>
                            {{this.user.email}}
                        </span>

                        <span>
                            {{this.subject}}
                        </span>

                        <div class="listening__btns">
                            <form action="">
                                <button class="btn btn--secondary">
                                    Bekijken
                                </button>
                            </form>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <span class="listing_empty-message">
                    Er zijn nog geen nieuwe aanvragen binnengekomen.
                </span>
            {{/if}}
        </div>
    </section>
</div>