<section>
    <div class="intro">
        <h1>
            {{user.user_meta.name}}
        </h1>

        <span>
            Hier vind u alle details over deze specifieke groep.
        </span>
    </div>

    <div>
        <img src="/assets/images/user-big.png" alt="User icon">

        <form action="" method="get"></form>
    </div>
</section>