<h1>
    Beschikbaar materiaal
</h1>

<section>
    <h2>
        Beschikbaar
    </h2>

    <a href="link to ID">
        Beschikbare elementen uit database
    </a>
</section>

<section>
    De elementen opgelijst
</section>

<section>
    <h2>
        Vraag aan
    </h2>

    <p>
        Ziet u een bepaald instrument niet staan of zijn er niet genoeg van een specifiek element? <span class="active">Aarzel dan niet om ons te contacteren!</span> Wij kunnen u misschien helpen met uw probleem.
    </p>

    <a href="#">
        Ga naar aanvragen
    </a>
</section>