<div class="container">
    <section>
        <h1>
            Geschiedenis
        </h1>

        <p>
            Hier kunt u uw vorige plannen zien die u heeft opgemaakt. Deze kunnen bewerkt worden om een gelijkaardige opstelling te krijgen of opnieuw als PDF gedownload worden.
        </p>
    </section>

    <section></section>
</div>