<div class="row">
    <div class="block-image slideshow">
        <svg class="logo-white" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 1832 744"><path fill="#FFF" d="M371.1 728.3c195 0 353.1-158.1 353.1-353.1 0-195-158.1-353.1-353.1-353.1s-353.2 158-353.2 353c0 195.1 158.1 353.2 353.2 353.2"/><g fill="#FFF"><path d="M886.6 79.3c50.2 0 87.5 32.8 87.5 88.2 0 55.4-37.5 88.2-87.8 88.2H814V79.3h72.6zm-36.3 145.3h36.6c30.7 0 51.2-19.1 51.2-57.1s-20.3-57.1-51.2-57.1h-36.6v114.2zM1032.6 205.7c.7 15.1 9.9 24.8 25.5 24.8 12 0 19.8-5 22.4-13.4l34.7 1.7c-4.2 23.1-27.6 39.6-56.1 39.6-37.3 0-63-24.3-63-63.5 0-39.4 25.7-63.5 62-63.5 35.1 0 58.3 22.6 58.3 60.6v13.7h-83.8zm0-22.9h49.1c-.7-14.9-8.3-24.5-23.8-24.5-14.6 0-24.3 9-25.3 24.5z"/></g><g fill="#FFF"><path d="M887.5 315.9c31.7 0 54.8 15.8 54.8 48.9 0 16.7-7.3 28-17.2 34.6 13.4 5.2 24.5 19 24.5 41.1 0 33.6-23.5 51.3-56.9 51.3h-78.8V315.9h73.6zm-37.4 70.6h35c12.2 0 20.2-5.6 20.2-19s-8.9-19.5-22.1-19.5H850v38.5zm0 73.1h38.3c14.1 0 24-6.1 24-20.9 0-15-10.1-21.4-23.5-21.4h-38.8v42.3zM1017.1 330.5c0 11.3-9.2 20.5-20.7 20.5s-20.5-9.2-20.5-20.5c0-11.5 9.4-20.7 20.5-20.7 11.5 0 20.7 9.2 20.7 20.7zm-37.9 161.3V370.3h34.3v121.6h-34.3zM1082.2 503.6c0 30.6-20 49.8-50.3 49.8-5.2 0-8.5-.2-12-.7v-29.9c2.1.5 4.5.7 8 .7 11.8 0 20-7.5 20-19.3v-134h34.3v133.4zm3.3-173.1c0 11.3-9.2 20.5-20.7 20.5s-20.5-9.2-20.5-20.5c0-11.5 8.9-20.7 20.5-20.7 11.5 0 20.7 9.2 20.7 20.7zM1116 491.8V309.1h34.3v182.7H1116zM1302.7 431.1c0 38.1-27.5 63.2-64.7 63.2s-64.7-25.2-64.7-63.2c0-38.3 27.5-63.2 64.7-63.2s64.7 24.9 64.7 63.2zm-94.5 0c0 21.2 12.2 33.6 29.9 33.6 17.6 0 29.9-12.5 29.9-33.6 0-21.4-12.2-33.9-29.9-33.9-17.7.1-29.9 12.6-29.9 33.9zM1403.6 370.3h41.6l-45.8 52 49.1 69.6h-41.6l-31.7-44-10.8 11.8v32.2H1330V309.1h34.3v104.4l39.3-43.2zM1495.3 442c.7 15 9.9 24.7 25.4 24.7 12 0 19.8-4.9 22.3-13.4l34.6 1.6c-4.2 23-27.5 39.5-56 39.5-37.1 0-62.8-24.2-62.8-63.2 0-39.3 25.6-63.2 61.8-63.2 35 0 58.1 22.6 58.1 60.4V442h-83.4zm0-22.8h48.9c-.7-14.8-8.2-24.5-23.7-24.5-14.6 0-24.3 8.9-25.2 24.5z"/></g><g fill="#FFF"><path d="M914.7 669.4v-85.8L870.5 669H865l-44.5-85.4v85.8h-8.3V564.5h7l48.4 92.3 48.2-92.3h7v104.9h-8.1zM995.6 669.4v-12.1c-2.7 6-10 13.3-22.6 13.3-15.8 0-25.9-11.5-25.9-28.2v-44h7.7v43c0 13 7.3 21.7 19.6 21.7 13 0 20.8-10.5 20.8-22.2v-42.6h7.9v71h-7.5zM1028.4 662.9h44.2v6.5H1019V664l42.3-59.2H1020v-6.5h50.6v5.2l-42.2 59.4zM1098.1 571.5c0 3.1-2.7 5.7-5.9 5.7s-5.7-2.7-5.7-5.7c0-3.2 2.7-5.9 5.7-5.9 3.2 0 5.9 2.6 5.9 5.9zm-9.8 97.9v-71h7.9v71h-7.9zM1124 636.8c.4 17.1 11.5 26.9 25.9 26.9 12.3 0 20.8-5.7 23.4-15.6l7.9.6c-3.2 13-14.7 21.9-31 21.9-19.6 0-34.5-13.5-34.5-36.7 0-23.3 14.6-36.7 34.2-36.7 20.3 0 32 14 32 34.6v5H1124zm0-6.6h50.2c0-15.1-8.3-26.1-24.4-26.1-14.3 0-25.2 9.2-25.8 26.1zM1244.8 598.4h10l-31.7 31.1 35.6 39.8h-10.4l-30.9-34.2-8.1 8v26.2h-7.9v-109h7.9v72.2l35.5-34.1zM1329.2 623.2l-7.7.7c-1.4-12.5-10.9-19.9-23.4-19.9-15 0-26.1 10.7-26.1 29.9s11.4 29.9 26.2 29.9c12.9 0 21.6-7 23.4-18.4l7.7.6c-2.7 15.3-14.3 24.7-31.1 24.7-19.5 0-34.2-13.3-34.2-36.7s14.6-36.7 34.1-36.7c16.5-.2 29.1 9.8 31.1 25.9zM1350.1 636.8c.4 17.1 11.5 26.9 25.9 26.9 12.3 0 20.8-5.7 23.4-15.6l7.9.6c-3.2 13-14.7 21.9-31 21.9-19.6 0-34.5-13.5-34.5-36.7 0-23.3 14.6-36.7 34.2-36.7 20.3 0 32 14 32 34.6v5h-57.9zm0-6.6h50.2c0-15.1-8.3-26.1-24.4-26.1-14.3 0-25.3 9.2-25.8 26.1zM1486 625.7v43.6h-7.9v-42.6c0-13.3-8.6-22.3-20.8-22.3-13 0-22 10.4-22 22.3v42.6h-7.9v-71h7.6v12.1c3.1-6.6 11.2-13.3 23.6-13.3 15.9 0 27.4 11.4 27.4 28.6zM1539.5 662.2v7.2c-2.1.4-4.9.7-9 .7-11.6 0-19.8-6.2-19.8-21.5l.1-43.3h-13.5v-6.9h13.5l.1-25.1h8l-.1 25.1h20.3v6.9h-20.3l-.3 41.9c0 11.6 5.8 15.7 13.5 15.7 3.2 0 5.7-.4 7.5-.7zM1583 605c-13.2 0-21.3 9.7-21.3 21.2v43.2h-7.9v-71h7.6V610c2.4-6.2 9.5-12.6 21.6-12.6v7.6zM1648.9 669.4v-12.1c-2.7 6-10 13.3-22.6 13.3-15.8 0-25.9-11.5-25.9-28.2v-44h7.7v43c0 13 7.3 21.7 19.6 21.7 13 0 20.8-10.5 20.8-22.2v-42.6h7.9v71h-7.5zM1786 625.6v43.8h-7.9v-42.6c0-13.3-7.7-22.3-19.9-22.3-13 0-21 10.4-21 22.3v42.6h-8v-42.6c0-13.3-7.9-22.3-19.6-22.3-13 0-21.2 10.4-21.2 22.3v42.6h-7.9v-71h7.4v12.2c3.1-6.7 10.8-13.5 22.9-13.5 11.2 0 19.9 5.9 24 15.4 4.1-9 13-15.4 24.7-15.4 15.7 0 26.5 11.7 26.5 28.5z"/></g></svg>

        <img data-image="slide-img" class="slide-img active-img" src="/assets/images/sfeerbeeld-1.JPG" alt="Sfeerbeeld van binnenkant van de Bijloke">

        <img data-image="slide-img" class="slide-img" src="/assets/images/sfeerbeeld-2.JPG" alt="Sfeerbeeld van binnenkant van de Bijloke">

        <img data-image="slide-img" class="slide-img" src="/assets/images/sfeerbeeld-3.JPG" alt="Sfeerbeeld van binnenkant van de Bijloke">

        <img data-image="slide-img" class="slide-img" src="/assets/images/sfeerbeeld-4.JPG" alt="Sfeerbeeld van binnenkant van de Bijloke">

        <img data-image="slide-img" class="slide-img slide-img--top" src="/assets/images/sfeerbeeld-5.JPG" alt="Sfeerbeeld van binnenkant van de Bijloke">
    </div>

    <section class="block page-half text text--intro-size">
        <div class="page-half__form">
            <h1 class="title--first">
                <span>
                    <a class="active" href="/login">
                        Login
                    </a>
                </span>

                <div class="line"></div>

                <span>
                    <a href="/register">
                        Registreer
                    </a>
                </span>
            </h1>

            <form class="full-form" method="post" action="login">
                <fieldset>
                    {{>form-errors this}}

                    {{#each inputs}}
                        {{>form-input this}}
                    {{/each}}
                </fieldset>

                <span>
                    <a class="underline" href="#">
                        Wachtwoord vergeten?
                    </a>
                </span>

                <input class="btn" type="submit" value="Login">
            </form>
        </div>
    </section>
</div>