.btn {
    color: var(--bright);
    background-color: var(--primary);
    padding: calc(var(--spacing-s) / 1.5) var(--spacing-s);
    border: none;
    margin-top: var(--spacing-s);
    transition: all .2s ease;
    cursor: pointer;

    &.btn:hover {
        background-color: var(--hover-color);
    }

    &.btn--secondary {
        color: var(--bright);
        background-color: var(--secondary);
    }

    &.btn--tertiairy {
        color: var(--bright);
        background-color: var(--tertiairy);
    }
}