.slideshow {
    position: relative;

    & .slide-img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        opacity: 0;
        transition: all .5s ease-in-out;
    }

    & .slide-img--top {
        object-position: top;
    }

    & .active-img {
        opacity: 1;
    }
}