.full-form {
    max-width: 710px;
    
    & fieldset {
        padding: 0;
        border: none;
        margin-bottom: var(--spacing-m);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
    }

    & input {
        font-size: var(--read-text-size);
    }

    & .big-input {
        height: 10rem;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .form-item {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    & .error {
        color: var(--tertiairy);
        font-size: 1rem;
        transform: translateY(5.5rem);
        position: absolute;
        align-self: flex-end;
    }

    & input[type=submit]:hover {
        cursor: pointer;
    }
}