.header {
    padding: var(--spacing-m) var(--padding-base) calc(var(--spacing-m) * 2) var(--padding-base);

    & .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .nav__logo {
        transform: translateX(-.4rem);
    }

    & .nav__list {
        display: flex;
        gap: var(--spacing-m);
        
        & a {
            padding: calc(var(--spacing-s) / 2) 0;
        }
    }

    & a:not(.user-icon) {
        transition: all .2s ease;
        background-color: var(--bright);
    }

    & a:hover {
        color: var(--secondary);
    }

    & .circle-shape {
        height: 100%;
        position: absolute;
        top: calc(var(--spacing-l) * -2);
        right: calc(var(--spacing-l) * -1);
        z-index: -1;
    }

    & .user-icon {
        transition: all .4s ease;
        position: fixed;
        bottom: var(--spacing-m);
        right: var(--spacing-m);

        &.user-icon:hover {
            filter: brightness(1.5);
            transform: scale(1.1);
        }
    }
}