.listing {
    & .listing__titles {
        padding-bottom: calc(var(--padding-l) / 2);

        & .actions-title {
            transform: translateX(calc(var(--spacing-s) * -1));
        }
    }

    & .to-left {
        transform: translateX(-.5rem);
    }

    & .listing__titles,
    & .listing__item:not(:last-child) {
        border-bottom: 3px dotted var(--light);
    }

    & .listing__item {
        padding: var(--padding-l) 0;
        align-items: center;

        & .text--big {
            color: var(--light);
        }

        & .active {
            display: inline;
        }

        & .btn {
            margin-top: 0;
        }
    }

    & .listing_empty-message {
        color: var(--hover-color);
        margin-top: var(--margin-s);
    }

    & .listening__btns {
        display: flex;
        gap: var(--spacing-s);
    }
}