

.plan {
  display: flex;
  margin: auto;
  background-color: var(--bright);
}

.plan-left {
  border-right: dotted 1px var(--dark);
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: var( --margin-base);
  width: 20rem;
  height: 100vh;
}

.plan-left h1{
margin-top: var(--margin-base);
margin-bottom: var(--margin-base);
max-width: 80rem;
}

.plan-left h2 {
  margin-top: var(--margin-base);
  margin-bottom: var(--margin-base);
  font-size: var(--titles-normall);
  color: var(--secondary);
}

.plan-left ul {
  padding: 0;
}

.plan-left svg {
  width: 9rem;
  height: 100%;
}

.plan-right {
  flex-grow: 1;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  color: var(--bright);
  background-color: var(--primary);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.plan-header a {
  text-decoration: none;
  color: var(--bright);
  margin-right: var(--margin-base);
  display: flex;
  align-items: center;
}

.plan-header a svg {
  margin-top: -0.5rem;
}

.plan-header-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(-3rem);

  & .btn {
    transform: translateY(-.5rem);
  }
}

.plan-header-input input {
  margin-right: var(--margin-base);
}

.plan-work {
  margin-top: var(--margin-base);
}

.canvas {
  border: black 2px solid;
  overflow-y: scroll;
  min-height: 35rem;
margin: auto;
}


.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #000;
}

.plan-work {
  margin-bottom: var(--margin-base);
}

.plan-work-flex {
  display: flex;
  margin-bottom: var(--margin-base);
}

.plan-refresh {
  border: solid 1px var(--tertiairy);
  color: var(--tertiairy);
  background-color: var(--bright);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--read-text-size);
  height: 2.5rem;
  margin-left: var(--margin-base);
}

.plan-button1 {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--bright);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--read-text-size);
  margin-left: var(--margin-base);
}

.plan-versturen {
  background-color: var(--tertiairy);
  border: 1px solid var(--tertiairy);
  color: var(--bright);
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--read-text-size);
  margin-right: var(--margin-base);
}

.selected {
  border: 2px solid #000;
}

#color-red { 
  background-color: red;
}

#color-green {
  background-color: green;
}

#color-blue {
  background-color: blue;
}


