.plan {
  display: flex;
  justify-content: space-between;
}

.plan-left {
  border-right: dotted 1px var(--dark);
  overflow-y: scroll;
  margin-left: var( --margin-base);
}

.plan-header {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  color: var(--bright);
  background-color: var(--primary);
}


.canvas {
  border: black 2px solid;
  margin-right: 3rem;
  overflow-y: scroll;
  height: 35rem;
}


.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #000;
}

.selected {
  border: 2px solid #000;
}

#color-red { 
  background-color: red;
}

#color-green {
  background-color: green;
}

#color-blue {
  background-color: blue;
}


