.row {
    display: flex;

    &.row--between {
        justify-content: space-between;

        & strong {
            background-color: var(--bright);
            padding: calc(var(--padding-base) / 2) 0;
        }
    }
}