<div class="container">
    <section class="block intro">
        <h1 class="title--second">
            Geschiedenis
        </h1>

        <p>
            Hier kunt u uw vorige plannen zien die u heeft opgemaakt. Deze kunnen bewerkt worden om een gelijkaardige opstelling te krijgen of opnieuw als PDF gedownload worden.
        </p>
    </section>

    <section class="block block--bottom listing">
        <div class="grid-row listing__titles">
            <strong>
                Datum voorstelling:
            </strong>
            
            <strong class="to-left">
                Naam van het plan:
            </strong>

            <strong class="actions-title">
                Acties:
            </strong>
        </div>

        <div>
            {{#each plan}}
                <div class="grid-row listing__item">
                    <span class="text text--big">
                        {{this.concert_date}}
                    </span>

                    <span>
                        {{this.label}}

                        <br>

                        Opgesteld op <span class="active">{{this.creation_date}}</span>
                    </span>

                    <div class="listening__btns">
                        <form action="">
                            <button class="btn btn--secondary">
                                Bewerken
                            </button>
                        </form>
                        
                        <form action="">
                            <button class="btn btn--tertiairy">
                                PDF downloaden
                            </button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</div>