<div class="container">
    <section class="block block__text">
        <h1 class="title--second">
            Geschiedenis
        </h1>

        <p>
            Hier kunt u uw vorige plannen zien die u heeft opgemaakt. Deze kunnen bewerkt worden om een gelijkaardige opstelling te krijgen of opnieuw als PDF gedownload worden.
        </p>
    </section>

    <section>
        <div class="row">
            <strong>
                Datum voorstelling:
            </strong>
            
            <strong>
                Naam van het plan:
            </strong>

            <strong>
                Acties:
            </strong>
        </div>

        VOOR ELKE VORIGE BESTELLING EEN DIV MET DE DATUM, NAAM EN ACTIES-KNOPPEN.
    </section>
</div>