<h1 class="sr-only">
    Beschikbaar materiaal
</h1>

<section class="container">
    <h2>
        Beschikbaar
    </h2>

    <a href="link to ID">
        Beschikbare elementen uit database
    </a>
</section>

<section class="container--wide">
    De elementen opgelijst
</section>

<section class="block block--lightblue">
    <div class="container">
        <div class="block--lightblue__text">
            <h2>
                Vraag aan
            </h2>

            <p>
                Ziet u een bepaald instrument niet staan of zijn er niet genoeg van een specifiek element? <span class="active span--inline">Aarzel dan niet om ons te contacteren!</span> Wij kunnen u misschien helpen met uw probleem.
            </p>

            <a href="#" class="btn btn--tertiairy">
                Ga naar aanvragen
            </a>
        </div>

        <svg class="circle-shape" xmlns="http://www.w3.org/2000/svg" width="599" height="599" fill="none"><circle cx="299.5" cy="299.5" r="298.5" stroke="var(--secondary)" stroke-width="2"/></svg>
    </div>
</section>