<div class="container">
    <section class="block intro block__text">
        <h1 class="title--second">
            Vraag aan
        </h1>

        <p>
            Ziet u een bepaald instrument niet staan of zijn er niet genoeg van een specifiek element? Aarzel dan niet om ons te contacteren! Wij kunnen u misschien helpen met het probleem.
        </p>
    </section>

    <section class="block block--bottom">
        <form class="full-form" action="/aanvragen">
            <fieldset class="text text--big">
                <input type="hidden" value="{{user.id}}" name="userId">

                <div>
                    <label for="subject">
                        Onderwerp
                    </label>

                    <input required type="text" name="subject">
                </div>

                <div>
                    <label for="description">
                        Beschrijving
                    </label>

                    <input required type="text" name="description" class="big-input">
                </div>
            </fieldset>

            <button class="btn btn-secondary" type="submit" formmethod="post">
                Verzenden
            </button>
        </form>
    </section>
</div>