<footer class="footer">
    <div class="container row footer__content">
        <div>
            <strong class="footer__title">
                Muziekcentrum <br>De Bijloke
            </strong>

            <address>
                <span>
                    Bijlokekaai 7
                </span>

                <span>
                    9000 Gent
                </span>

                <a class="unactive" href="tel:+3293236111">
                    09 323 61 11
                </a>

                <span>
                    &#40;géén ticketverkoop&#41;
                </span>

                <a href="mailto:info@debijloke.be">
                    info@debijloke.be
                </a>
            </address>
        </div>

        <div>
            <strong class="footer__title">
                Ticketverkoop
            </strong>

            <span>
                balie di t/m vr 13-17u
            </span>
            
            <span>
                tel. di t/m vr 13-17u 
            </span>
            
            <span>
                <a class="unactive" href="tel:+3293236100">
                    09 323 61 00
                </a>
            </span>
            
            <a href="mailto:tickets@debijloke.be">
                tickets@debijloke.be
            </a>
        </div>

        <div>
            <strong class="footer__title">
                Over ons
            </strong>

            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Bestuur
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Fair Practice
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            GreenTrack
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Integriteitsbeleid
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Missie &#38; Visie
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Partners
                        </a>
                    </li>

                    <li class="footer__about-space">
                        <a href="#">
                            Privacyverklaring
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Vrijwilligers
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Vacatures
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>
            <div>
                <strong class="footer__title">
                    Volg ons
                </strong>

                <div class="row footer__socials">
                    <a href="https://www.facebook.com/debijloke" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><g clip-path="url(#a)"><path fill="var(--bright)" d="M22.71 25.3h5.172l.812-5.26h-5.99v-2.88c0-2.18.716-4.12 2.758-4.12h3.286V8.46a28.171 28.171 0 0 0-4.104-.26c-4.814 0-7.638 2.56-7.638 8.34v3.5h-4.948v5.26H17v14.46A20.061 20.061 0 0 1 .248 23.22c-.056-.36-.104-.7-.142-1.06v-.08l-.014-.14v-.1c0-.04 0-.08-.012-.14-.012-.04 0-.06 0-.12V20c0-10.98 9.028-20 20-20s20 9.02 20 20v1.72l-.01.12-.01.12-.014.14v.08c0 .06-.01.1-.016.16v.06c-1.094 8.98-8.17 16.16-17.148 17.4l-.172-14.5Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h40v40H0z"/></clipPath></defs></svg>
                    </a>
                    
                    <a href="https://twitter.com/DeBijloke" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><g clip-path="url(#a)"><path fill="var(--bright)" d="M20 40C9.032 39.98.012 30.96 0 20 .012 9.04 9.032.02 20 0c10.966.02 19.986 9.04 20 20a19.884 19.884 0 0 1-5.856 14.14A19.867 19.867 0 0 1 20 40ZM6 29.2a16.761 16.761 0 0 0 8.886 2.8 16.076 16.076 0 0 0 12.056-4.9 15.36 15.36 0 0 0 4.256-10.5v-.7a.307.307 0 0 0 0-.06v-.04c0-.2 0-.38-.014-.48 1.106-.8 2.06-1.78 2.816-2.92-1.03.46-2.126.76-3.246.88A8.461 8.461 0 0 0 34 9.6a17.913 17.913 0 0 1-4.572 1.78l-.036.02h-.024l-.04.02a6.234 6.234 0 0 0-4.426-1.82 6.334 6.334 0 0 0-6.304 6.3v.7A13.88 13.88 0 0 1 7.768 11a8.459 8.459 0 0 0-.4 2.84 6.181 6.181 0 0 0 3.922 5.08c-.466.12-.946.2-1.428.2a3.697 3.697 0 0 1-2.464-.86v.08c0 2.64 2.766 4.58 5.498 5.12-.662.28-1.382.4-2.1.34-.362 0-1.644-.16-2-.24a6.042 6.042 0 0 0 5.788 3.56c-1.956 1.54-3.344 2.08-7.238 2.08H6Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h40v40H0z"/></clipPath></defs></svg>
                    </a>

                    <a href="https://www.instagram.com/debijloke/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><g clip-path="url(#a)"><path fill="var(--bright)" d="M20 40C9.032 39.98.01 30.96 0 20 .012 9.04 9.032.02 20 0c10.966.02 19.986 9.04 20 20-.012 10.96-9.032 19.98-20 20ZM14.666 8c-3.654 0-6.66 3-6.664 6.66v10.68c.004 3.64 3.01 6.66 6.664 6.66h10.666c3.656 0 6.664-3.02 6.668-6.66V14.66A6.695 6.695 0 0 0 25.332 8H14.666ZM20 26.66c-3.654 0-6.66-3-6.664-6.66A6.688 6.688 0 0 1 20 13.34c3.658 0 6.664 3 6.668 6.66A6.695 6.695 0 0 1 20 26.66ZM20 16c-2.194 0-4 1.8-4 4s1.806 4 4 4 4-1.8 4-4-1.806-4-4-4Zm8-2.66A1.34 1.34 0 0 1 26.668 12c0-.72.6-1.34 1.332-1.34.732 0 1.334.62 1.336 1.34A1.345 1.345 0 0 1 28 13.34Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h40v40H0z"/></clipPath></defs></svg>
                    </a>
                </div>
            </div>

            <div>
                <strong class="footer__title newsletter-title">
                    Meld je aan voor <br>de nieuwsbrief
                </strong>

                <a href="#" class="btn btn--secondary">
                    Inschrijven
                </a>
            </div>
        </div>
    </div>
</footer>