{{!-- {{role}}
{{ #if role = "admin" }}
content for admin page
{{else}}
content for logged in page
{{/if}}
compare string handlebars helper --}}

<header class="container container--normall header">
    <nav class="nav">
        <a class="nav__logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="138" height="56" fill="none"><path fill="var(--tertiairy)" d="M27.954 54.818c14.689 0 26.598-11.9 26.598-26.577 0-14.678-11.91-26.578-26.598-26.578-14.689 0-26.606 11.893-26.606 26.57 0 14.685 11.91 26.585 26.606 26.585ZM66.785 5.969c3.782 0 6.591 2.469 6.591 6.638 0 4.17-2.824 6.64-6.613 6.64h-5.446V5.968h5.468Zm-2.734 10.936h2.757c2.313 0 3.857-1.437 3.857-4.298 0-2.86-1.53-4.297-3.857-4.297h-2.757v8.595ZM77.783 15.483c.053 1.136.746 1.866 1.921 1.866.904 0 1.492-.376 1.687-1.008l2.614.128c-.316 1.738-2.079 2.98-4.226 2.98-2.81 0-4.745-1.829-4.745-4.78 0-2.965 1.936-4.779 4.67-4.779 2.644 0 4.392 1.701 4.392 4.562v1.03h-6.313Zm0-1.724h3.699c-.053-1.121-.625-1.844-1.793-1.844-1.1 0-1.83.678-1.906 1.844ZM66.853 23.777c2.388 0 4.128 1.19 4.128 3.681 0 1.257-.55 2.108-1.295 2.604 1.009.392 1.845 1.43 1.845 3.094 0 2.529-1.77 3.861-4.286 3.861h-5.936v-13.24h5.544Zm-2.817 5.314h2.636c.92 0 1.522-.421 1.522-1.43 0-1.008-.67-1.467-1.665-1.467h-2.5v2.897h.007Zm0 5.503h2.885c1.062 0 1.808-.46 1.808-1.574 0-1.129-.761-1.61-1.77-1.61h-2.923v3.184ZM76.616 24.876c0 .85-.693 1.543-1.56 1.543a1.536 1.536 0 0 1-1.544-1.543c0-.865.708-1.558 1.544-1.558.867 0 1.56.693 1.56 1.558ZM73.76 37.017v-9.145h2.584v9.153H73.76v-.008ZM81.52 37.905c0 2.304-1.507 3.749-3.79 3.749-.391 0-.64-.015-.904-.053v-2.25c.159.037.34.052.603.052.889 0 1.507-.564 1.507-1.453V27.864h2.583v10.041Zm.248-13.029c0 .85-.693 1.543-1.56 1.543a1.536 1.536 0 0 1-1.543-1.543c0-.865.67-1.558 1.544-1.558.866 0 1.559.693 1.559 1.558ZM84.066 37.017V23.266h2.583v13.751h-2.583ZM98.13 32.448c0 2.868-2.072 4.757-4.874 4.757-2.803 0-4.874-1.896-4.874-4.757 0-2.882 2.071-4.757 4.873-4.757 2.803 0 4.874 1.875 4.874 4.757Zm-7.12 0c0 1.596.92 2.53 2.253 2.53 1.326 0 2.252-.941 2.252-2.53 0-1.61-.919-2.551-2.252-2.551-1.333.007-2.252.948-2.252 2.551ZM105.73 27.872h3.133l-3.45 3.914 3.699 5.239h-3.134l-2.388-3.312-.813.888v2.424h-2.591v-13.76h2.583v7.859l2.961-3.252ZM112.637 33.269c.053 1.129.746 1.859 1.914 1.859.904 0 1.491-.369 1.679-1.009l2.607.12c-.317 1.732-2.072 2.974-4.219 2.974-2.794 0-4.73-1.822-4.73-4.757 0-2.958 1.928-4.757 4.655-4.757 2.637 0 4.377 1.701 4.377 4.546v1.024h-6.283Zm0-1.716h3.684c-.053-1.114-.618-1.844-1.785-1.844-1.1 0-1.831.67-1.899 1.844ZM68.902 50.385v-6.458l-3.33 6.428h-.414l-3.352-6.428v6.458h-.625v-7.896h.527l3.646 6.948 3.631-6.948h.527v7.896h-.61ZM74.996 50.385v-.91c-.203.45-.753 1-1.702 1-1.19 0-1.951-.865-1.951-2.122V45.04h.58v3.236c0 .979.55 1.634 1.476 1.634.98 0 1.567-.79 1.567-1.671v-3.207h.595v5.344h-.565v.008ZM77.467 49.896h3.33v.489h-4.038v-.407l3.186-4.455h-3.11v-.49h3.81v.392l-3.178 4.47ZM82.717 43.016c0 .233-.203.43-.444.43a.434.434 0 0 1-.43-.43c0-.24.204-.444.43-.444.24 0 .444.196.444.444Zm-.738 7.369v-5.344h.595v5.344h-.595ZM84.668 47.931c.03 1.287.866 2.025 1.951 2.025.927 0 1.567-.43 1.763-1.174l.595.045c-.241.978-1.108 1.648-2.335 1.648-1.477 0-2.6-1.016-2.6-2.762 0-1.754 1.1-2.762 2.577-2.762 1.53 0 2.41 1.053 2.41 2.604v.376h-4.36Zm0-.497h3.782c0-1.136-.626-1.964-1.838-1.964-1.078 0-1.899.692-1.944 1.964ZM93.768 45.04h.753l-2.388 2.342 2.682 2.995h-.784l-2.327-2.574-.61.602v1.972h-.595v-8.204h.595v5.434l2.674-2.566ZM100.125 46.907l-.58.053c-.105-.94-.82-1.498-1.762-1.498-1.13 0-1.966.806-1.966 2.25 0 1.446.858 2.252 1.973 2.252.972 0 1.627-.527 1.763-1.386l.58.046c-.203 1.151-1.077 1.859-2.343 1.859-1.469 0-2.576-1.001-2.576-2.763 0-1.76 1.1-2.762 2.569-2.762 1.243-.015 2.192.738 2.342 1.95ZM101.7 47.931c.03 1.287.866 2.025 1.951 2.025.926 0 1.566-.43 1.762-1.174l.595.045c-.241.978-1.107 1.648-2.335 1.648-1.476 0-2.599-1.016-2.599-2.762 0-1.754 1.1-2.762 2.577-2.762 1.529 0 2.41 1.053 2.41 2.604v.376H101.7Zm0-.497h3.781c0-1.136-.625-1.964-1.838-1.964-1.077 0-1.906.692-1.943 1.964ZM111.937 47.096v3.281h-.595v-3.206c0-1.001-.648-1.678-1.567-1.678-.98 0-1.657.782-1.657 1.678v3.206h-.596v-5.344h.573v.911c.233-.497.844-1.001 1.778-1.001 1.197 0 2.064.858 2.064 2.153ZM115.967 49.843v.542c-.158.03-.369.053-.678.053-.874 0-1.492-.467-1.492-1.619l.008-3.259h-1.017v-.52h1.017l.007-1.888h.603l-.007 1.889h1.529v.52h-1.529l-.023 3.153c0 .873.437 1.182 1.017 1.182.241 0 .429-.03.565-.053ZM119.244 45.538c-.995 0-1.605.73-1.605 1.595v3.252h-.595v-5.344h.572v.873c.181-.467.716-.948 1.628-.948v.572ZM124.208 50.385v-.91c-.204.45-.754 1-1.703 1-1.19 0-1.951-.865-1.951-2.122V45.04h.58v3.236c0 .979.55 1.634 1.477 1.634.979 0 1.566-.79 1.566-1.671v-3.207h.596v5.344h-.565v.008ZM134.535 47.088v3.297h-.595v-3.206c0-1.002-.58-1.679-1.499-1.679-.979 0-1.582.783-1.582 1.678v3.207h-.603v-3.206c0-1.002-.595-1.679-1.476-1.679-.979 0-1.597.783-1.597 1.678v3.207h-.595v-5.344h.557v.918c.234-.504.814-1.016 1.725-1.016.844 0 1.499.444 1.808 1.16.309-.678.979-1.16 1.861-1.16 1.182 0 1.996.88 1.996 2.145Z"/></svg>
        </a>
    
        {{#if user.role.label === "admin"}}
            <p>YUUUU ADMIN</p>
        {{/if}}

        <ul class="nav__list">
            <li>
                <a href="/beschikbaar-materiaal">
                    Beschikbaar materiaal
                </a>
            </li>

            <li>
                <a href="/plan-opstellen">
                    Plan opstellen
                </a>
            </li>

            <li>
                <a href="/geschiedenis">
                    Geschiedenis
                </a>
            </li>

            <li>
                <a href="/vraag-aan">
                    Vraag aan
                </a>
            </li>
        </ul>
    </nav>

    <svg class="circle-shape" xmlns="http://www.w3.org/2000/svg" width="599" height="599" fill="none"><circle cx="299.5" cy="299.5" r="298.5" stroke="var(--secondary)" stroke-width="2"/></svg>

    <a class="user-icon" href="/detail-gebruiker/{{user.id}}">
        <svg viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="none">
            <circle cx="37.5" cy="37.5" r="37.5" fill="#E94A3D"/>
            
            <mask id="a" width="75" height="75" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">

            <circle cx="37.5" cy="37.5" r="37.5" fill="#D9D9D9"/></mask>
            
            <g mask="url(#a)">
                <path fill="#fff" fill-rule="evenodd" d="M41.858 40.847a11.032 11.032 0 0 0 6.672-10.135c0-6.09-4.939-11.029-11.03-11.029-6.091 0-11.03 4.938-11.03 11.03 0 4.59 2.804 8.524 6.792 10.185-8.37 1.988-14.597 9.512-14.597 18.491v19.005h38.01V59.389c0-9.057-6.336-16.634-14.817-18.542Z" clip-rule="evenodd"/>
            </g>
        </svg>
    </a>
</header>