.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container--wide {
	max-width: 86rem;
	margin: 0 auto;
}

input {
  border-radius: 0;
  border: .5px solid var(--dark);
}
  
blok {
  width: 30rem;
  height: 20rem;
  background: hsl(340, 57%, 64%);
}

h1, h2 {
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: calc(var(--spacing-s) * 1.5);
}
  
img {
  display: none;
}

span:not(.span--inline) {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--dark);
}

.active--nav {
  color: var(--secondary);
  text-decoration: underline;
}

.active {
  color: var(--secondary);
}

.underline {
  border-bottom: 1px solid var(--dark);
}

.user-icon-big {
	width: 300px;
	height: 300px;
}

.intro {
	max-width: 50%;
    margin-bottom: var(--margin-base);
}
